<div>
  <h1 class="font-weight-bold mb-3">Live Server</h1>
  <a
    href="https://angular-login-starter.herokuapp.com"
    class="page-link font-weight-light mb-3"
    target="_blank"
    rel="noopener noreferrer"
  >
    https://angular-quiz-pwa.herokuapp.com
  </a>

  <h1 class="font-weight-bold mb-3">Github Repo</h1>
  <a
    href="https://github.com/gyani-sunkara/angular-login-starter"
    class="page-link font-weight-light mb-3"
    target="_blank"
    rel="noopener noreferrer"
  >
    https://github.com/gyani-sunkara/angular-quiz-pwa
  </a>

  <h1 class="font-weight-bold mb-3">Developer</h1>
  <p class="font-weight-normal mb-1 p-1">Gyani Sunkara</p>
  <p class="font-weight-normal mb-1 p-1">
    <span class="dark-gray">Phone: </span> +(91) 8247490939
  </p>
  <p class="font-weight-normal mb-1 p-1">
    <span class="dark-gray">Email: </span>gyanisunkara1@gmail.com
  </p>
</div>
